# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=admin
DB_PASSWORD=tkcollar
DB_DATABASE=task_management

# JWT Configuration
JWT_SECRET=14546176-7dcd-4588-b4ad-818f5a437b7b
JWT_EXPIRES_IN=24h

# Application Configuration
PORT=3000
NODE_ENV=development
